asgiref==3.2.10
autopep8==1.5.4
certifi==2020.6.20
Django==3.1.4
django-auth-ldap3-ad==1.6.33
django-autocomplete-light==3.3.4
django-cors-headers==3.5.0
django-filter==2.1.0
django-mssql-backend==2.8.1
django-utils-six==2.0
djangorestframework==3.12.1
ldap3==2.8.1
Markdown==3.3
pep8==1.7.1
pyasn1==0.4.8
pycodestyle==2.6.0
pyodbc==4.0.30
pytz==2019.1
six==1.15.0
sqlparse==0.3.0
toml==0.10.1
wincertstore==0.2
